services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - sentinel-net

  kafka:
    image: confluentinc/cp-kafka:7.3.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - sentinel-net

  sentinel-agent:
    build: .
    container_name: sentinel-linux
    depends_on:
      - kafka
    privileged: true # Required for Sysmon to load eBPF/Kernel modules
    pid: host      # Optional: To see host processes instead of just container processes
    volumes:
      - /sys/kernel/debug:/sys/kernel/debug # Required for Sysmon
      - ./.env:/opt/sentinel/.env
    networks:
      - sentinel-net

networks:
  sentinel-net:
    driver: bridge
