services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - sentinel-net

  kafka:
    image: confluentinc/cp-kafka:7.3.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - sentinel-net

  sentinel-agent:
    # REPLACE_WITH_YOUR_IMAGE_NAME e.g. ghcr.io/username/sentinel.agentlinux:main
    image: ${IMAGE_NAME:-sentinel-linux:latest} 
    container_name: sentinel-linux
    depends_on:
      - kafka
    privileged: true
    pid: host
    volumes:
      - /sys/kernel/debug:/sys/kernel/debug
    networks:
      - sentinel-net

networks:
  sentinel-net:
    driver: bridge
